<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{  myProduct.name  }}</strong></div>
      </div>
    </div>
  </div>  

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img [src]="myProduct.imageUrl" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2 class="text-black">{{  myProduct.name  }}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vitae, explicabo? Incidunt facere, natus soluta dolores iusto! Molestiae expedita veritatis nesciunt doloremque sint asperiores fuga voluptas, distinctio, aperiam, ratione dolore.</p>
          <p class="mb-4">{{ myProduct.description }}</p>
          <p><strong class="text-primary h4">${{ myProduct.price }}</strong></p>
          
          <div class="mb-5" *ngIf="productCount.productCount > 0; else Cart">
            <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
              <button (click)="changeItemValue(-1)"  class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <p  class="form-control text-center"  aria-label="Example text with button addon" aria-describedby="button-addon1">{{productCount.productCount}} </p>
            <div class="input-group-append">
              <button (click)="changeItemValue(1)"  class="btn btn-outline-primary js-btn-plus" type="button">+</button>
            </div>
          </div>

          </div>
          <ng-template #Cart>
              <p><button (click)="addToCart()" class="buy-now btn btn-sm btn-primary">Add To Cart</button></p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
