<div class="row">
    <div class="col-md-6">

        <form #f="ngForm" (ngSubmit)="save(f.value)" >  

            <div class="form-group">
              <label for="Title">Title</label>
              <input #title="ngModel" [(ngModel)]="product.title" name="title" type="text" class="form-control" required  id="Title" aria-describedby="emailHelp" placeholder="Enter Title">
              <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                  Title is required
              </div>
            </div>
          
            <div class="form-group">
                <label for="Price">Price</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input #price="ngModel" [(ngModel)]="product.price" name="price" type="text" class="form-control" required id="Price" aria-describedby="emailHelp" placeholder="Enter Title" [min]="0">  
              </div>
              <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required</div>
                    <div *ngIf="price.errors.min">Price is greater than or equal to 0</div>
              </div>
            </div>
          
            <div class="form-group">
                <label for="inputState">Category</label>
                <select ngModel name="Category" id="Category" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let c of categories$ | async" [value]="c.key">
                    {{ c.value.name  }}
                  </option>
                </select>
              </div>
          
              <select ngModel name="person">
                  <option value="1">abel</option>
                  <option value="2">agoi</option>
                  <option value="3">adeyemi</option>
                </select>
          
            <div class="form-group">
                <label for="ImageUrl">Image URL</label>
                <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" type="text" required class="form-control" id="ImageUrl" aria-describedby="emailHelp" placeholder="Enter Title" url >
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                  <div *ngIf="imageUrl.errors.required">Image Url is required</div>
                  <div *ngIf="imageUrl.errors.url">Invalid image url</div>
              </div>
            </div>
              
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
          </form>

    </div>

    <div class="col-md-6">

        <div class="card" style="width: 18rem;">
            <img [src]="product.imageUrl" class="card-img-top" *ngIf="product.imageUrl">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{  product.price |currency:'USD':true}}</p>
            </div>
          </div>

    </div>
</div>